# Sub packages that are GPL but should be kept
force_keep:
  # - AABB_tree # Data structure for efficient intersection and distance queries over sets of 3D geometric primitives.
  # - Bounding_volumes

# Sub packages that are LGPL but should be deleted
force_delete:
  - CGAL_ImageIO
  - CGAL_ipelets # plugins for visualization
  - Generalized_map # Generalized map in d-dimension
  # represents an object in any dimension by describing the subdivision
  # of the object in vertices, edges, faces, volumes, ... and the
  # incidence relationships on them
  - Geomview # an interface to the Geometry Center's popular 3D viewer
  - Inventor # Inventor_ostream (Virtual Reality Markup Languages)
  - Linear_cell_complex # Linear cell complex in d-dimension.
  # This package implements linear cell complexes, objects in
  # d-dimension with linear geometry. The combinatorial part of object
  # is described by combinatorial maps, representing all the cells of
  # the object plus the incidence and adjacency relations between cells.
  # Geometry is added on combinatorial map simply by associating a
  # Point_p to each vertex of the map.
  - MacOSX # Package for MacOSX support.
  # Contains scripts and icon files needed for creating demos in the
  # MacOSX operating system.
  - wininst